* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, rgba(32,28,43,.97), rgba(32,28,43,.97)), url('/images/war-bkg-img-chosen.jpg') no-repeat center !important;
  background-size: cover !important;
  /* background: #17141F !important; */
}

.container {
  position: relative;
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
  min-height: calc(100vh - 255px);
}

a {
  color: #D3BAFF;
  text-decoration: none;
}

a:hover {
  color: #E4D4FF;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-object {
  width: 50%;
}

@media(max-width: 800px) {
  .flex-object {
    width: 100%;
  } 
}

h5 {
  color: white;
}
